.main {
  min-height: 80vh;
  width: 100vw;
  background-color: var(--lblue);
  padding: 20vh 10vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.heading {
  font-size: 80px;
  font-weight: 600;
  color: var(--contrast);
  text-align: start;
  margin: 0;
}

.tagline {
  font-weight: 400;
  font-size: 1.5vw;
  max-width: 600px;
  font-size: 20px;
}

.mainbtn {
  margin-right: 10px;
}

.mainbtn,
.secondbtn {
  border: 1px solid var(--contrast);
  background-color: var(--lblue);
}

.mainbtn:hover,
.secondbtn:hover {
  border: 1px solid var(--contrast);
  background-color: var(--contrast);
  color: var(--white);
}
.box {
  max-width: 600px;
  margin: auto;
  text-align: justify;
  font-size: 24px;
  line-height: 30px;
  margin-block: 60px;
}

.text {
  padding: 20px;
}
.vm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-height: 100vh;
}

@media only screen and (max-width: 600px) {
  .main {
    padding: 40px;
  }
  .heading {
    font-size: 10vw;
  }
}
